[Unit]
Description=Update and start a git server.
After=network.target
# StartLimitIntervalSec=0
# StartLimitBurst=2

[Service]
User=pi
WorkingDirectory=/home/pi/git-server/gitcid
Type=oneshot
ExecStart=/bin/bash -c "/home/pi/git-server/gitcid/.gc/new-git-server.sh -y $(hostname) git2 git1"
# ExecStart=/bin/bash -c "/home/pi/git-server/gitcid/.gc/new-git-server.sh -y $(hostname) git1 && /home/pi/git-server/gitcid/.gc/new-git-server.sh -y $(hostname) git1 || /home/pi/git-server/gitcid/.gc/new-git-server.sh -y $(hostname) git1"
# ExecStop=/home/pi/git-server/gitcid/.gc/new-git-server-stop.sh
RemainAfterExit=true
# Restart=always
# RestartSec=15

[Install]
WantedBy=multi-user.target
